@import "../../assets/scss/variables.scss";

.container-fluid {
  > .row {
    > div {
      > .topSection {
        min-height: 85rem;
        padding-top: 0.5rem;
        background: {
          color: transparent;
          image: url("../../assets/images/topBg.png");
          repeat: no-repeat;
          size: cover;
          position: center;
        }
        > .topContentSection {
          padding: {
            top: 3rem;
          }
          > .leftBlock {
            padding: {
              left: 3rem;
            }
            > div {
              padding: {
                // left: $oneVw * 47;
              }
            }
            > .toptxt {
              > span {
                width: 100%;
                display: block;
                font: {
                  family: "poppinsbold";
                  size: 8rem;
                }
                color: $purple;
                &:last-of-type {
                  font: {
                    family: "poppinsregular";
                  }
                }
              }
            }
            > .bottomtxt {
              p {
                font: {
                  family: $primary-font-regular;
                  size: 1.8rem;
                }
                line-height: 2.8rem;
                color: $black;
              }
            }
            > .btnBlock {
              margin: {
                top: 1.5rem;
              }
              > .btn {
                color: $white;
                padding: {
                  top: 0.8rem;
                  bottom: 0.8rem;
                  left: 3rem;
                  right: 3rem;
                }
                border: {
                  radius: 2.5rem;
                  width: 0;
                }
                background: {
                  color: #9f4c91;
                  image: linear-gradient(to right, #9f4c91, #6854ad);
                }
                font: {
                  // family: $primary-font-bold;
                  family: "poppinssemibold";
                  size: 1.4rem;
                }
              }
            }
            > .iconsBlock {
              width: 100%;
              padding: {
                top: $oneVh * 50;
              }
              > ul {
                width: inherit;
                padding-left: 0;
                margin-bottom: 0;
                > li {
                  float: left;
                  list-style-type: none;
                  margin-right: $oneVw * 30;
                  > i {
                    // color: $black;
                    color: #7d4385;
                    font: {
                      size: $oneVw * 30;
                    }
                  }
                }
              }
            }
          }
          > .rightBlock {
            display: flex;
            align-items: center;
            justify-content: center;
            > .imageSection {
              width: $oneVw * 500;
              > img {
                max-width: 100%;
              }
            }
          }
        }
        ~ {
          div {
            &.row {
              margin: {
                bottom: 5rem;
              }
            }
          }
        }
      }
      > .horizantalStrips {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: {
          top: 4rem;
          bottom: 10rem;
        }
        background: {
          color: $gray;
        }
        > .title {
          text-align: center;
          margin: {
            bottom: 3rem;
          }
          font: {
            family: "poppinsbold";
            size: 3.5rem;
          }
          color: $white;
        }
        > div {
          > div {
            display: flex;
            align-items: center;
            justify-content: center;
            > .block {
              width: 35rem;
              min-height: $oneVh * 150;
              border-radius: 0.8rem;
              padding: 5rem 1.5rem;
              text-align: center;
              background: {
                color: $white;
              }
              transition: all 0.5s;
              -o-transition: all 0.5s;
              -ms-transition: all 0.5s;
              -moz-transition: all 0.5s;
              -webkit-transition: all 0.5s;
              border: 1px solid rgba(33, 40, 50, 0.125) !important;
              box-shadow: rgba(0, 0, 0, 0.25) 0px 1.4rem 2.8rem, rgba(0, 0, 0, 0.22) 0px 1rem 1rem;
              > span {
                width: 100%;
                display: block;
                color: $black;
                &:first-of-type {
                  font: {
                    family: $primary-font-regular;
                    size: 2.4rem;
                  }
                }
                &:last-of-type {
                  font: {
                    family: $primary-font-regular;
                    size: 1.8rem;
                  }
                }
              }
              &:hover {
                box-shadow: none;
                transform: translate(0px, -1rem);
              }
            }
          }
        }
      }
      > .verticalStrips {
        padding: {
          top: 8rem;
          bottom: 8rem;
        }
        margin: {
          top: 4rem;
        }
        > div {
          display: flex;
          align-items: center;
          justify-content: center;
          > .leftBlock {
            height: 35rem;
            width: 45rem;
            display: flex;
            align-items: center;
            justify-content: center;
            > img {
              max-width: 100%;
              transform: rotate(90deg);
              -o-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
              -moz-transform: rotate(90deg);
              -webkit-transform: rotate(90deg);
            }
          }
          > .rightBlock {
            width: 100%;
            > .block {
              width: 100%;
              margin: {
                bottom: 4rem;
              }
              > span {
                width: 100%;
                display: block;
                text-align: center;
                font: {
                  family: 'poppinsregular';
                }
                &:first-of-type {
                  color: $navtxtColor;
                  font: {
                    size: 4rem;
                    family: "poppinsmedium";
                  }
                }
                &:last-of-type {
                  color: $gray;
                  font: {
                    size: 2rem;
                  }
                }
              }
              &:last-of-type {
                margin: {
                  bottom: $oneVh * 0;
                }
              }
            }
          }
        }
        &.blockTwo {
          > div {
            > .rightBlock {
              padding: {
                left: $oneVw * 150;
                right: $oneVw * 150;
              }
              > h2 {
                color: #9f4c91;
                margin: {
                  bottom: $oneVh * 15;
                }
                font: {
                  // family: $primary-font-regular;
                  family: "poppinsbold";
                  size: $oneVw * 35;
                }
              }
              > p {
                color: $gray;
                font: {
                  // family: $primary-font-regular;
                  family: "poppinsregular";
                  size: $oneVw * 18;
                }
              }
            }
          }
        }
      }
      > .features {
        background: {
          color: $navtxtColor;
        }
        margin: {
          top: 4rem;
        }
        padding: {
          top: 4rem;
        }
        > .title {
          text-align: center;
          color: $white;
          margin: {
            bottom: 4rem;
          }
          font: {
            // family: $primary-font-bold;
            family: "poppinsbold";
            size: 3.5rem;
          }
        }
        > .content {
          padding: {
            left: 7.5rem;
            right: 7.5rem;
          }
          > div {
            > .block {
              float: left;
              width: 100%;
              height: 35rem;
              margin: {
                bottom: 2.5rem;
              }
              > .card {
                min-width: 25rem;
                max-width: 100%;
                align-items: center;
                padding: 1.5rem;
                > .imgBlock {
                  float: left;
                  width: 20rem;
                  height: 15rem;
                  > img {
                    max-width: 100%;
                    max-height: 100%;
                  }
                }
                > .card-body {
                  > .card-title {
                    > span {
                      font: {
                        family: "poppinsmedium";
                        size: 10px;
                      }
                      color: #fff;
                      text: {
                        transform: uppercase;
                      }
                      background-color: rgba(0, 0, 0, 0.7);
                      padding: 2px 3px;
                      border-radius: 2px;
                    }
                  }
                  > .card-text {
                    height: 10rem;
                    font: {
                      size: 1.4rem;
                      family: 'poppinsregular';
                    }
                    overflow: hidden;
                  }
                }
              }
            }
          }
        }
      }
      > .otherFeatures {
        padding: {
          top: $oneVh * 40;
          bottom: $oneVh * 40;
        }
        background: {
          color: $black;
        }
        > .titleBlock {
          margin: {
            bottom: $oneVh * 30;
          }
          > span {
            color: $white;
            display: block;
            text-align: center;
            &:first-of-type {
              font: {
                family: $primary-font-bold;
                size: $oneVw * 30;
              }
            }
            &:last-of-type {
              font: {
                family: $primary-font-regular;
                size: $oneVw * 18;
              }
            }
          }
        }
        > .contentBlock {
          .card {
            background: {
              color: $hashColor;
            }
            > .card-body {
              float: left;
              > .card-title {
                color: $white;
                text: {
                  transform: uppercase;
                }
                font: {
                  family: $primary-font-bold;
                  size: $oneVw * 18;
                }
              }
              > .card-text {
                color: $white;
                font: {
                  family: $primary-font-regular;
                  size: $oneVw * 16;
                }
              }
              > ul.featuresList {
                padding: {
                  left: 0;
                }
                margin: {
                  bottom: 0;
                }
                > li {
                  list-style-type: none;
                  color: $white;
                  font: {
                    family: $primary-font-regular;
                    size: $oneVw * 16;
                  }
                  > i {
                    color: green;
                    font: {
                      size: $oneVw * 16;
                    }
                    margin: {
                      right: $oneVw * 15;
                    }
                  }
                }
              }
            }
          }
        }
      }
      > .roadMap {
        padding: {
          top: 4rem;
          bottom: 4rem;
        }
        > .title {
          text-align: center;
          color: #9f4c91;
          margin: {
            bottom: 4rem;
          }
          font: {
            // family: $primary-font-bold;
            family: "poppinsbold";
            size: 3.5rem;
          }
        }
        > .mapContent {
          .main-timeline {
            font-family: "Libre Franklin", sans-serif;
            &:after {
              content: "";
              display: block;
              clear: both;
            }
            .timeline {
              width: calc(50% + 110px);
              margin: 0 0 3rem;
              float: right;
              &:nth-child(even) {
                float: left;
                .timeline-content {
                  padding: 2.5rem 17.5rem 2.5rem 2.5rem;
                  text-decoration: none;

                  &:before {
                    border-left-width: 3rem;
                    border-right-width: 0;
                    left: auto;
                    right: 0;
                  }
                }
                .timeline-year {
                  left: auto;
                  right: -1rem;
                }
                .timeline-icon {
                  box-shadow: -1px 1px 0px #fff inset, 0 0 8px rgba(0, 0, 0, 0.4);
                  left: auto;
                  right: 6.2rem;
                }
              }
              &:nth-child(4n + 2) {
                .timeline-content {
                  &:before {
                    background: #129bbd;
                    border-color: #0c7088;
                  }
                }
                .timeline-icon {
                  background: #0c7088;
                }
                .title {
                  color: #129bbd;
                }
              }
              &:nth-child(4n + 3) {
                .timeline-content {
                  &:before {
                    background: #f25b50;
                    border-color: #ad463b;
                  }
                }
                .timeline-icon {
                  background: #ad463b;
                }
                .title {
                  color: #f25b50;
                }
              }
              &:nth-child(4n + 4) {
                .timeline-content {
                  &:before {
                    background: #9b9599;
                    border-color: #7d787c;
                  }
                }
                .title {
                  color: #9b9599;
                }
                .timeline-icon {
                  background: #7d787c;
                }
              }
            }
            .timeline-content {
              background: #fff;
              padding: 2.5rem 2.5rem 2.5rem 17.5rem;
              box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
              display: block;
              position: relative;
              &:hover {
                text-decoration: none;
              }
              &:before {
                content: "";
                background: #f59220;
                width: 125px;
                height: 100%;
                border: 0 solid #b46a17;
                border-right-width: 3rem;
                position: absolute;
                top: 0;
                left: 0;
              }
              > ul {
                padding: {
                  left: 2rem;
                }
                margin: {
                  bottom: 0;
                }
                > li {
                  list-style-type: disc;
                  margin: {
                    bottom: 0.5rem;
                  }
                  color: $black;
                  font: {
                    family: $primary-font-regular;
                    size: 1.8rem;
                  }
                }
              }
            }
            .timeline-icon {
              color: #fff;
              background: #b46a17;
              font-size: 4.5rem;
              text-align: center;
              line-height: 10.5rem;
              width: 10rem;
              height: 10rem;
              border-radius: 50%;
              box-shadow: 1px 1px 0px #fff inset, 0 0 8px rgba(0, 0, 0, 0.4);
              transform: translateY(-50%);
              position: absolute;
              top: 50%;
              left: 6.2rem;
            }
            .timeline-year {
              color: #fff;
              font-size: 3.5rem;
              font-weight: 700;
              line-height: 3.5rem;
              transform: translateY(-50%) rotate(90deg);
              position: absolute;
              top: 50%;
              left: -1rem;
            }
            .title {
              color: #f59220;
              font-size: 2rem;
              font-weight: 700;
              text-transform: uppercase;
              margin: 0 0 0.8rem;
            }
            .description {
              color: #777;
              font-size: 1.6rem;
              margin: 0;
            }
          }
          @media screen and (max-width: 767px) {
            .main-timeline {
              .timeline {
                width: 100%;
              }
            }
          }
          @media screen and (max-width: 576px) {
            .main-timeline {
              .timeline {
                text-align: center;
                margin: 0 0 3rem;
                &:nth-child(even) {
                  text-align: center;
                  margin: 0 0 3rem;
                  .timeline-content {
                    padding: 1.5rem 1rem 17.5rem 1rem;
                    &:before {
                      width: 100%;
                      height: 12.3rem;
                      border-left-width: 0;
                      border-right-width: 0;
                      border-top-width: 3rem;
                      top: auto;
                      bottom: 0;
                    }
                  }
                  .timeline-year {
                    transform: translateX(-50%) translateY(0) rotate(0deg);
                    top: auto;
                    bottom: 1rem;
                    left: 50%;
                  }
                  .timeline-icon {
                    box-shadow: -1px -1px 0px #fff inset, 0 0 8px rgba(0, 0, 0, 0.4);
                    transform: translateX(-50%) translateY(0);
                    top: auto;
                    bottom: 6.2rem;
                    left: 50%;
                  }
                }
              }
              .timeline-content {
                padding: 1.5rem 1rem 17.5rem 1rem;
                &:before {
                  width: 100%;
                  height: 12.3rem;
                  border-left-width: 0;
                  border-right-width: 0;
                  border-top-width: 3rem;
                  top: auto;
                  bottom: 0;
                }
              }
              .timeline-year {
                transform: translateX(-50%) translateY(0) rotate(0deg);
                top: auto;
                bottom: 1rem;
                left: 50%;
              }
              .timeline-icon {
                box-shadow: -1px -1px 0px #fff inset, 0 0 8px rgba(0, 0, 0, 0.4);
                transform: translateX(-50%) translateY(0);
                top: auto;
                bottom: 6.2rem;
                left: 50%;
              }
              .title {
                font-size: 2rem;
              }
            }
          }
        }
      }
      > .howToBuy {
        padding: {
          top: $oneVh * 40;
          bottom: $oneVh * 60;
        }
        background: {
          color: $lightPurple;
        }
        > .title {
          // color: $black;
          color: #9f4c91;
          text-align: center;
          margin: {
            bottom: $oneVh * 40;
          }
          margin: {
            left: $oneVw * 45;
          }
          font: {
            family: "poppinsbold";
            size: $oneVw * 35;
          }
        }
        > .content {
          > .block {
            padding: {
              left: $oneVw * 150;
              right: $oneVw * 150;
            }
            > nav {
              margin: {
                bottom: $oneVh * 15;
              }
              > div {
                justify-content: center;
                border-bottom: none;
                > button {
                  border: none;
                  color: $purple;
                  margin: {
                    right: $oneVw * 20;
                  }
                  padding: {
                    bottom: $oneVh * 15;
                    left: $oneVw * 5;
                    right: $oneVw * 5;
                  }
                  font: {
                    family: $primary-font-bold;
                  }
                  &.nav-link.active {
                    border: none;
                    color: $purple;
                    font: {
                      family: $primary-font-bold;
                    }
                    background: {
                      color: transparent;
                    }
                    border-bottom: 2px solid $purple;
                  }
                }
              }
            }
            > .tab-content {
              > .tab-pane {
                color: $gray;
                font: {
                  family: $primary-font-regular;
                  size: $oneVw * 18;
                }
              }
            }
          }
        }
      }
      > .documentsBlock {
        padding: {
          top: $oneVh * 40;
          bottom: $oneVh * 40;
        }
        background: {
          image: url("../../assets/images/documentBg.jpg");
          repeat: no-repeat;
          size: cover;
          position: center;
        }
        > .title {
          text-align: center;
          margin: {
            bottom: $oneVh * 30;
          }
          font: {
            family: "poppinsbold";
            size: $oneVw * 35;
          }
          color: $white;
        }
        > .content {
          > .blocks {
            width: 90%;
            margin: 0 5%;
            float: left;
            > div {
              display: flex;
              justify-content: center;
              margin: {
                bottom: $oneVh * 15;
              }
              > .block {
                float: left;
                width: $oneVw * 200;
                margin: {
                  bottom: $oneVh * 15;
                }
                > .imgBlock {
                  float: left;
                  width: $oneVw * 200;
                  height: $oneVw * 300;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: {
                    color: $white;
                  }
                  border: {
                    radius: $oneVw * 6;
                  }
                  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.4);
                  > img {
                    max-width: 90%;
                  }
                }
                > span {
                  float: left;
                  width: 100%;
                  text-align: center;
                  color: $white;
                  font: {
                    family: $primary-font-bold;
                    size: $oneVw * 18;
                  }
                }
              }
            }
          }
        }
      }
      > .faqBlock {
        padding: {
          top: 4rem;
          bottom: 4rem;
        }
        background: {
          // image: url("../../assets/images/documentBg.jpg");
          color: $white;
          repeat: no-repeat;
          size: cover;
          position: center;
        }
        > .title {
          text-align: center;
          margin: {
            bottom: 3rem;
          }
          font: {
            family: "poppinsbold";
            size: 3.5rem;
          }
          color: $black;
        }
        > .content {
          > .accordion {
            padding: {
              left: 10rem;
              right: 10rem;
            }
            > .accordion-item {
              border: none;
              background: transparent;
              > .accordion-header {
                border-bottom: 1px solid #e3e3e3;
                > .accordion-button {
                  box-shadow: none;
                  background: {
                    color: $white;
                  }
                  font: {
                    family: $primary-font-regular;
                    size: 1.8rem;
                  }
                  color: $black;
                  &:focus {
                    box-shadow: none;
                  }
                }
              }
              > .accordion-collapse {
                color: $black;
                > .accordion-body {
                  font: {
                    family: $primary-font-regular;
                    size: 1.8rem;
                  }
                  > ul {
                    padding: {
                      left: 1.5rem;
                    }
                    margin: {
                      bottom: 0;
                    }
                    > li {
                      list-style-type: disc;
                      margin: {
                        bottom: 0.5rem;
                      }
                      font: {
                        family: $primary-font-regular;
                        size: 1.8rem;
                      }
                      color: $black;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
a.timeline-content {
  text-decoration: none;
}

@media only screen and (min-width: 360px) and (max-width: 767px) {
  .container-fluid {
    > .row {
      > div {
        > .topSection {
          min-height: 50rem;
          > .topContentSection {
            > .leftBlock {
              padding: {
                left: 35% !important;
              }
              > .toptxt {
                > span {
                  color: $white;
                  font: {
                    size: 6rem;
                  }
                }
              }
            }
          }
        }
        > .horizantalStrips {
          > div {
            > div {
              margin: {
                bottom: 1.5rem;
              }
              > .block {
              }
              &:last-of-type {
                margin: {
                  bottom: 0;
                }
              }
            }
          }
        }
        > .verticalStrips {
          > div {
            > .leftBlock {
              > img {
                max-height: 100%;
              }
            }
          }
        }
        > .faqBlock {
          > .content {
            > .accordion {
              padding: {
                left: 0;
                right: 0;
              }
            }
          }
        }
        > .features {
          > .content {
            padding: {
              left: 1rem;
              right: 1rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .container-fluid {
    > .row {
      > div {
        > .verticalStrips {
          > div {
            > .leftBlock {
              > img {
                max-height: 100%;
              }
            }
          }
        }
        > .faqBlock {
          > .content {
            > .accordion {
              padding: {
                left: 2rem;
                right: 2rem;
              }
            }
          }
        }
      }
    }
  }
}
