<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 px-0">
      <div class="topSection">
        <app-header></app-header>
        <div class="row topContentSection mx-0">
          <div class="col-md-6 col-12 leftBlock">
            <div class="toptxt">
              <span>Little Meme.</span>
              <span>Big Dream.</span>
            </div>
            <div class="bottomtxt">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
                text of the printing and typesetting industry.</p>
            </div>
            <div class="btnBlock" *ngIf="false">
              <button class="btn">Buy Kishu </button>
              <button class="btn">Buy Kishu </button>
            </div>
            <div class="iconsBlock">
              <ul>
                <li><i class="fa fa-telegram" aria-hidden="true"></i></li>
                <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
                <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
                <li><i class="fa fa-telegram" aria-hidden="true"></i></li>
                <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
                <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-12 rightBlock">
            <div class="imageSection">
              <img src="../../assets/images/v1.gif" alt="Dog Image" />
            </div>
          </div>
        </div>
      </div>
      <div class="row horizantalStrips mx-0" *ngIf="false">
        <div class="col-md-3 col-12">
          <div class="block">
            <span>Token Holders</span>
            <span>Over 25,140</span>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="block">
            <span>Token Holders</span>
            <span>Over 25,140</span>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="block">
            <span>Token Holders</span>
            <span>Over 25,140</span>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="block">
            <span>Token Holders</span>
            <span>Over 25,140</span>
          </div>
        </div>
      </div>
      <div class="row verticalStrips mx-0">
        <div class="col-md-6">
          <div class="leftBlock">
            <img src="../../assets/images/eyeglasses-kishu-p-800.png" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="rightBlock">
            <div class="block">
              <span>Token Holders</span>
              <span>Over 25,140</span>
            </div>
            <div class="block">
              <span>Token Holders</span>
              <span>Over 25,140</span>
            </div>
            <div class="block">
              <span>Token Holders</span>
              <span>Over 25,140</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row verticalStrips blockTwo mx-0">
        <div class="col-md-6">
          <div class="leftBlock">
            <img src="../../assets/images/dog1.png" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="rightBlock">
            <h2>Community Powered</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.</p>
          </div>
        </div>
      </div>
      <div class="row verticalStrips blockTwo mx-0">
        <div class="col-md-6">
          <div class="leftBlock">
            <img src="../../assets/images/eyeglasses-kishu-p-800.png" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="rightBlock">
            <h2>Community Powered Two</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book.</p>
          </div>
        </div>
      </div>
      <div class="row features mx-0">
        <div class="col-md-12 title">Features</div>
        <div class="row content">
          <div class="col-md-4">
            <div class="block">
              <div class="card">
                <img src="../../assets/images/DogImage.jpg" class="" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block">
              <div class="card">
                <img src="../../assets/images/DogImage.jpg" class="" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block">
              <div class="card">
                <img src="../../assets/images/DogImage.jpg" class="" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block">
              <div class="card">
                <img src="../../assets/images/DogImage.jpg" class="" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block">
              <div class="card">
                <img src="../../assets/images/DogImage.jpg" class="" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block">
              <div class="card">
                <img src="../../assets/images/DogImage.jpg" class="" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row otherFeatures mx-0" *ngIf="false">
        <div class="col-md-12 titleBlock">
          <span>#PANDA Features</span>
          <span>Auto liquidity locking, Yield-farming and dApp utility</span>
        </div>
        <div class="col-md-12 contentBlock">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <ul class="featuresList">
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <ul class="featuresList">
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <ul class="featuresList">
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row roadMap mx-0">
        <div class="col-md-12 title">Road Map</div>
        <div class="col-md-12 mapContent">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="main-timeline">
                  <div class="timeline">
                    <a href="#" class="timeline-content">
                      <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                      <div class="timeline-year">2021</div>
                      <h3 class="title">Web Designing</h3>
                      <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et
                        condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
                      </p>
                    </a>
                  </div>
                  <div class="timeline">
                    <a href="#" class="timeline-content">
                      <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                      <div class="timeline-year">2020</div>
                      <h3 class="title">Web Development</h3>
                      <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et
                        condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
                      </p>
                    </a>
                  </div>
                  <div class="timeline">
                    <a href="#" class="timeline-content">
                      <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                      <div class="timeline-year">2021</div>
                      <h3 class="title">Web Designing</h3>
                      <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et
                        condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
                      </p>
                    </a>
                  </div>
                  <div class="timeline">
                    <a href="#" class="timeline-content">
                      <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                      <div class="timeline-year">2020</div>
                      <h3 class="title">Web Development</h3>
                      <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et
                        condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
                      </p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row documentsBlock mx-0">
        <div class="col-md-12 title">Documents</div>
        <div class="col-md-12 content">
          <div class="row blocks">
            <div class="col-md-6 col-12">
              <div class="block">
                <div class="imgBlock">
                  <img src="../../assets/images/documentThumb.jpg" alt="thumb" />
                </div>
                <span>Lite Paper</span>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="block">
                <div class="imgBlock">
                  <img src="../../assets/images/documentThumb.jpg" alt="thumb" />
                </div>
                <span>Audit</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row howToBuy mx-0">
        <div class="col-md-12 title">How To Buy</div>
        <div class="col-md-12 content">
          <div class="block">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                  type="button" role="tab" aria-controls="nav-home" aria-selected="true">Tab 1</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                  type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Tab 2</button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                  type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Tab 3</button>
                <button class="nav-link" id="nav-contact-tab4" data-bs-toggle="tab" data-bs-target="#nav-contacttab4"
                  type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Tab 4</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                Tab One Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book.
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                Tab Two Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book.
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                Tab Three Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book.
              </div>
              <div class="tab-pane fade" id="nav-contacttab4" role="tabpanel" aria-labelledby="nav-contact-tab4">
                Tab Four Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                type and scrambled it to make a type specimen book.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row faqBlock mx-0">
        <div class="col-md-12 title">FAQ'S</div>
        <div class="col-md-12 content">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  Which cryptocurrency is best to buy today ?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                  plugin adds the appropriate classes that we use to style each element. These classes control the
                  overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this
                  with custom CSS or overriding our default variables. It's also worth noting that just about any HTML
                  can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Which cryptocurrency is best to buy today ?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse
                  plugin adds the appropriate classes that we use to style each element. These classes control the
                  overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this
                  with custom CSS or overriding our default variables. It's also worth noting that just about any HTML
                  can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Which cryptocurrency is best to buy today ?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
                  plugin adds the appropriate classes that we use to style each element. These classes control the
                  overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this
                  with custom CSS or overriding our default variables. It's also worth noting that just about any HTML
                  can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>