<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 px-0">
      <div class="topSection">
        <app-header></app-header>
        <div class="row topContentSection mx-0">
          <div class="col-md-6 col-12 leftBlock">
            <div class="toptxt">
              <span>Little Meme.</span>
              <span>Big Dream.</span>
            </div>
            <div class="bottomtxt">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
                text of the printing and typesetting industry.</p>
            </div>
            <div class="btnBlock">
              <button class="btn">Buy Kishu </button>
              <button class="btn">Buy Kishu </button>
            </div>
            <div class="iconsBlock">
              <ul>
                <li><i class="fa fa-telegram" aria-hidden="true"></i></li>
                <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
                <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
                <li><i class="fa fa-telegram" aria-hidden="true"></i></li>
                <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
                <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-12 rightBlock">
            <div class="imageSection">
              <img src="../../assets/images/DogImage.jpg" alt="Dog Image" />
            </div>
          </div>
        </div>
      </div>
      <div class="row horizantalStrips mx-0">
        <div class="col-md-3 col-12">
          <div class="block">
            <span>Token Holders</span>
            <span>Over 25,140</span>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="block">
            <span>Token Holders</span>
            <span>Over 25,140</span>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="block">
            <span>Token Holders</span>
            <span>Over 25,140</span>
          </div>
        </div>
        <div class="col-md-3 col-12">
          <div class="block">
            <span>Token Holders</span>
            <span>Over 25,140</span>
          </div>
        </div>
      </div>
      <div class="row features mx-0">
        <div class="col-md-12 title">Features</div>
        <div class="row content">
          <div class="col-md-4">
            <div class="block">
              <div class="card">
                <img src="../../assets/images/DogImage.jpg" class="" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block">
              <div class="card">
                <img src="../../assets/images/DogImage.jpg" class="" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block">
              <div class="card">
                <img src="../../assets/images/DogImage.jpg" class="" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block">
              <div class="card">
                <img src="../../assets/images/DogImage.jpg" class="" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block">
              <div class="card">
                <img src="../../assets/images/DogImage.jpg" class="" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="block">
              <div class="card">
                <img src="../../assets/images/DogImage.jpg" class="" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row otherFeatures mx-0">
        <div class="col-md-12 titleBlock">
          <span>#PANDA Features</span>
          <span>Auto liquidity locking, Yield-farming and dApp utility</span>
        </div>
        <div class="col-md-12 contentBlock">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <ul class="featuresList">
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <ul class="featuresList">
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <ul class="featuresList">
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <span>Features of Panda</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row roadMap">
        <div class="col-md-12 title">Road Map</div>
        
      </div>
    </div>
  </div>
</div>