@import "../../assets/scss/variables.scss";

nav {
  .logo {
      > img {
          width: $oneVw * 65;
      }
    font: {
      family: $primary-font-bold;
      size: $oneVw * 22;
    }
    color: $white;
    background: {
      // color: $logoBgColor;
    }
    padding: {
      left: $oneVw * 15;
      right: $oneVw * 15;
    }
    &:hover {
      color: $white;
    }
  }
  .nav-item {
    margin: {
      right: $oneVw * 20;
    }
    a.nav-link {
      color: $navtxtColor;
      border-radius: $oneVw * 27;
      padding: {
        left: $oneVw * 15;
        right: $oneVw * 15;
      }
      font: {
        // family: $primary-font-regular;
        family: 'poppinssemibold';
        size: $oneVw * 16;
      }
      &.active, &:hover {
        background: {
          color: $navtxtColor;
        }
        color: $white;
      }
    }
  }
  .btn {
      width: $oneVw * 120;
      height: $oneVw * 30;
      background: {
          color: $navtxtColor;
      }
      color: $white;
      padding: {
        top: 0;
        bottom: 0;
      }
      font: {
          family: $primary-font-bold;
          size: $oneVw * 14;
      }
      border: {
          radius: $oneVw * 25;
          width: 0;
      }
      display: flex;
      align-items: center;
      justify-content: center;
  }
}
