<div class="footer">
    <div class="list">
        <ul>
            <div class="list-icons pt-2">
                <li>
                    <a href='https://t.me/joinchat/7CrqU6DDHxVhMDJl'><i class="fa fa-telegram" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href='https://twitter.com/TheDragonEarth'><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                </li>
            </div>
            <li>
                <a href='#'>Buy</a>
            </li>
            <li>
                <a href="#Tokenomics">Tokenomics</a>
            </li>
            <li>
                <a href='#Roadmap'>Road Map</a>
            </li>
            <li>
                <a  href="https://bscscan.com/token/0x041be13e319b0b0569c6a78bdf13848cb814d731#writeContract" target="_blank">Contract</a>
            </li>
            <li>
                <a href="../../assets/documents/audit.pdf" target="_blank">Audit</a>
            </li>
            <li>
                <a href="../../assets/documents/whitepaper.pdf" target="_blank">Whitepaper</a>
            </li>
        </ul>
    </div>
    <p class="copy-right">Copyright © Dragon Earth 2021</p>
</div>