<div class="container-fluid footerBlock">
    <div class="row">
        <div class="col-md-12 solidBgcolor">
            <div class="row mainFooter">
                <div class="col-md-4 col-6 block">
                    <h3>About Us</h3>
                    <ul>
                        <li>
                            <a href="#">About Us Link One</a>
                        </li>
                        <li>
                            <a href="#">About Us Link Two</a>
                        </li>
                        <li>
                            <a href="#">About Us Link Three</a>
                        </li>
                        <li>
                            <a href="#">About Us Link Four</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-6 block">
                    <h3>Resources</h3>
                    <ul>
                        <li>
                            <a href="#">Resources Link One</a>
                        </li>
                        <li>
                            <a href="#">Resources Link Two</a>
                        </li>
                        <li>
                            <a href="#">Resources Link Three</a>
                        </li>
                        <li>
                            <a href="#">Resources Link Four</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-6 block">
                    <h3>Community</h3>
                    <ul>
                        <li>
                            <a href="#">Community Link One</a>
                        </li>
                        <li>
                            <a href="#">Community Link Two</a>
                        </li>
                        <li>
                            <a href="#">Community Link Three</a>
                        </li>
                        <li>
                            <a href="#">Community Link Four</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row navFooter">
                <div class="col-md-12">
                    <ul>
                        <li>
                            <a href="#">Buy</a>
                        </li>
                        <li>
                            <a href="#tokenomics">Tokenomics</a>
                        </li>
                        <li>
                            <a href="#roadmap">Road Map</a>
                        </li>
                        <li>
                            <a href="https://bscscan.com/token/0x041be13e319b0b0569c6a78bdf13848cb814d731#writeContract" target="_blank">Contract</a>
                        </li>
                        <li>
                            <a href="../../assets/documents/audit.pdf" target="_blank">Audit</a>
                        </li>
                        <li>
                            <a href="../../assets/documents/whitepaper.pdf" target="_blank">Whitepaper</a>
                        </li>
                    </ul>
                    <div class="iconsBlock">
                        <ul>
                            <li>
                                <a href="https://t.me/joinchat/7CrqU6DDHxVhMDJl" target="_blank">
                                    <i class="fa fa-telegram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/TheDragonEarth" target="_blank">
                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row secondFooter">
                <div class="col-md-12">
                    Copyright &copy; Dragon Earth 2021
                </div>
            </div>
        </div>
    </div>
</div>