<div class="container-fluid footerBlock">
    <div class="row">
        <div class="col-md-12 solidBgcolor">
            <div class="row mainFooter">
                <div class="col-md-4 col-12 block">
                    <h3>About Us</h3>
                    <ul>
                        <li>
                            <a href="#">About Us Link One</a>
                        </li>
                        <li>
                            <a href="#">About Us Link Two</a>
                        </li>
                        <li>
                            <a href="#">About Us Link Three</a>
                        </li>
                        <li>
                            <a href="#">About Us Link Four</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-12 block">
                    <h3>Resources</h3>
                    <ul>
                        <li>
                            <a href="#">Resources Link One</a>
                        </li>
                        <li>
                            <a href="#">Resources Link Two</a>
                        </li>
                        <li>
                            <a href="#">Resources Link Three</a>
                        </li>
                        <li>
                            <a href="#">Resources Link Four</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-12 block">
                    <h3>Community</h3>
                    <ul>
                        <li>
                            <a href="#">Community Link One</a>
                        </li>
                        <li>
                            <a href="#">Community Link Two</a>
                        </li>
                        <li>
                            <a href="#">Community Link Three</a>
                        </li>
                        <li>
                            <a href="#">Community Link Four</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row secondFooter">
                <div class="col-md-12">
                    &copy; 2021 kishu Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
    </div>
</div>