@import "../../assets/scss/variables.scss";

.footerBlock {
  position: relative;
  background: {
    image: url("../../assets/images/footerBg.jpg");
    repeat: no-repeat;
    position: center;
    size: cover;
  }
  svg{
    pointer-events: none;
    position: absolute;
    left: 0;
    top: -50px;
    color: #864a9f;
  }
  .solidBgcolor {
    background: {
      // color: rgba(255,108,108, 0.8);
      color: transparent;
    }
    > .mainFooter {
      opacity: 0;
      padding: {
        left: 10rem;
        right: 10rem;
        top: 10rem;
        bottom: 10rem;
      }
      > .block {
        > h3 {
          color: $white;
          font: {
            family: $primary-font-bold;
            size: 2rem;
          }
          margin: {
            bottom: 1.5rem;
          }
        }
        > ul {
          margin: {
            bottom: 0;
          }
          padding: {
            left: 0;
          }
          > li {
            list-style-type: none;
            margin: {
              bottom: 1rem;
            }
            > a {
              color: $white;
              text-decoration: none;
              font: {
                family: $primary-font-regular;
                size: 1.6rem;
              }
            }
          }
        }
      }
    }
    .navFooter {
      margin: {
        bottom: 2rem;
      }
      > div {
        > .iconsBlock {
          float: right;
          > ul {
            width: inherit;
            padding-left: 0;
            margin-bottom: 0;
            > li {
              float: left;
              list-style-type: none;
              margin-right: 3rem;
              > a {
                > i {
                  color: $white;
                  font: {
                    size: 3rem;
                  }
                }
              }
            }
          }
        }
        > ul {
          float: right;
          padding: {
            left: 0;
          }
          margin: {
            bottom: 0;
          }
          > li {
            float: left;
            list-style-type: none;
            margin: {
              right: 1.5rem;
            }
            > a {
              font: {
                family: $primary-font-bold;
                size: 1.8rem;
              }
              text: {
                decoration: none;
              }
              color: $white;
            }
          }
        }
      }
    }
    > .secondFooter {
      border-top: 1px solid $white;
      padding: {
        top: 1rem;
        bottom: 1rem;
      }
      text-align: right;
      color: $white;
      font: {
        family: $primary-font-regular;
        size: 1.6rem;
      }
    }
  }
}

@media only screen and (min-width: 360px) and (max-width: 767px) {
  .footerBlock {
    background: {
      image: none;
      color: $purple;
    }
    .mainFooter {
      display: none;
    }
    .solidBgcolor {
      .navFooter {
        margin: {
          top: 2rem;
        }
        > div {
          > ul {
            > li {
              width: 100%;
              text-align: center;
              margin: {
                bottom: 2rem;
              }
            }
            margin: {
              bottom: 2rem;
            }
          }
          > .iconsBlock {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            > ul {
              width: auto;
              > li:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
      .secondFooter {
        text-align: center;
      }
    }
  }
}



// FAQ change
// Container change
// unnecessary images
// footer wave 
// copyright
// expand and collapse

// Kishu