$oneVw: 0.069444444vw;
$oneVh: 0.113765643vh;
$oneVmin: 0.069444444vmin;
$oneVmax: 0.069444444vmax;
$primary-font-regular: 'Lato-Regular';
$primary-font-bold :'Lato-Bold';

$topSectionColor: #ffe9d6;
$logoBgColor: #ff6c6c;
$navtxtColor: #458dfc;
$hashColor: #1d1d20;
$purple: #3d006f;
$gray: #736681;
$white: #fff;
$black: #000;