$oneVw: 0.069444444vw;
$oneVh: 0.113765643vh;
$oneVmin: 0.069444444vmin;
$oneVmax: 0.069444444vmax;
$primary-font-regular: 'Lato-Regular';
$primary-font-bold :'Lato-Bold';

$topSectionColor: #ffe9d6;
$logoBgColor: rgb(255, 108, 108);
$navtxtColor: #6450a6;
$hashColor: #1d1d20;
$purple: #3d006f;
$lightPurple: #f4eeff;
$gray: #736681;
$white: #fff;
$black: #000;
