@font-face {
    font-family: 'Lato-Italic';
    src: url('../font/lato/Lato-Italic.eot');
    src: local('Lato Italic'), local('Lato-Italic'), url('../font/lato/Lato-Italic.eot?#iefix') format('embedded-opentype'), url('../font/lato/Lato-Italic.woff2') format('woff2'), url('../font/lato/Lato-Italic.woff') format('woff'), url('../font/lato/Lato-Italic.ttf') format('truetype'), url('../font/lato/Lato-Italic.svg#Lato-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../font/lato/Lato-Bold.eot');
    src: local('Lato Bold'), local('Lato-Bold'), url('../font/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('../font/lato/Lato-Bold.woff2') format('woff2'), url('../font/lato/Lato-Bold.woff') format('woff'), url('../font/lato/Lato-Bold.ttf') format('truetype'), url('../font/lato/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../font/lato/Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'), url('../font/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../font/lato/Lato-Regular.woff2') format('woff2'), url('../font/lato/Lato-Regular.woff') format('woff'), url('../font/lato/Lato-Regular.ttf') format('truetype'), url('../font/lato/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Lato-Black';
    src: url('../font/lato/Lato-Black.eot');
    src: local('Lato Black'), local('Lato-Black'), url('../font/lato/Lato-Black.eot?#iefix') format('embedded-opentype'), url('../font/lato/Lato-Black.woff2') format('woff2'), url('../font/lato/Lato-Black.woff') format('woff'), url('../font/lato/Lato-Black.ttf') format('truetype'), url('../font/lato/Lato-Black.svg#Lato-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-display: auto;
    font-style: normal;
    src: url('../font/fontawesome-webfont.eot');
    src: url('../font/fontawesome-webfont.woff2') format('woff2'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('ttf'), url('../font/fontawesome-webfont.svg') format('svg');
}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../font/monister/montserrat-semibold-webfont.woff2') format('woff2'),
         url('../font/monister/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratregular';
    src: url('../font/monister/montserrat-regular-webfont.woff2') format('woff2'),
         url('../font/monister/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserrat_alternatesbold';
    src: url('../font/monister/montserratalternates-bold-webfont.woff2') format('woff2'),
         url('../font/monister/montserratalternates-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('../font/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../font/roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../font/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}