/* You can add global styles to this file, and also import other style files */
@import "../src/assets/css/fonts.css";
@import "./assets/scss/variables.scss";

body {
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: {
        x: hidden;
        y: auto;
    }
}
